.advantages {
    min-height: 1320px;
    padding: 70px 0;

    &__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 30px;
    }

    &__item {
        position: relative;
        transition: .3s ease all;

        &:hover {
            transform: translate(-5px, -15px) rotate(1deg);
            box-shadow: 5px 15px 20px rgba(0,0,0,0.5);
        }

        img {
            height: 100%;
        }

        &_text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #ffffff;
            font-size: 23px;
            font-weight: 400;
            text-align: center;
        }
    }


}