* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration: none;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    position: relative;
}

.title {
    color: $text-color;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    line-height: 40px;

    &_white {
        color: #ffffff;
    }

    &_prengi {
        font-size: 48px;
        font-weight: 700;
    }
}
